
\.idea/libraries/

\.idea/

*.iml

*.class

*.lst

*.jar

rni-tests-2\.0/target/

rni-tests/target/
*.log

rni-tests-2\.0/runtime\.properties
rni-tests-2.0/src/test/resources/applicationContextAutomation-test.xml
